ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overlap issues position: absolute;*/
  }
a{
  margin: 0;
}

li{
  z-index: 1;
  text-align: left;
  margin: 0;
  padding: 0;
  align-items: center;
}

  .navbar{
    background-color:rgb(195,196,157);
  }
  .logo {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .hamDiv{
    margin: auto;
    z-index: +1;
  
  }

  
  .wrapper {background:transparent url('/assets/images/logo.png') no-repeat center center;
    height: inherit;
    object-fit: contain;
  }

  @media screen and (min-width: 601px) {
    li {
      font-size: 2vw;
    }

  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    li {
      font-size: 5vw;
    }

  }
